#aboutme{ 
    text-align: center;
}

.aboutme-icons {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.aboutme-icon {
    margin: 7px;
    color: green;
}

.aboutme-icons> a{
    text-decoration: none;
}

.aboutme-icon:hover {
    cursor: pointer;
    color: var(--titleSectionTertiaryColor)

}

.aboutme-download-link > a {
    color: black;
}