 h1 {
        color: violet;
    }
    
    button:hover {
        background-color: red;
        cursor: pointer;
        font-size: 30px;
    }
    
    #title {
        
        text-align: center;
       
    }