 h1 {
        color: green;
    }
    
    button:hover {
        background-color: blanchedalmond;
        cursor: pointer;
        font-size: 30px;
    }
    
    #title {
        
        text-align: center;
       padding-top: 200px;
       background-image: url('../images/bgimage.jpg');
       background-position: center top;
    }