 :root{
    --titleSectionPrimaryColor: green; 
    --titleSectionTertiaryColor: rgb(75, 72, 37);
 }
 
 #title {
        
        text-align: center;
       padding-top: 200px;
       background-image: url('../images/bgimage.jpg');
       background-position: center top;
        color: var(--titleSectionPrimaryColor)
    }
    
    .title-section-header { 
        margin-bottom: -5px;
    }

    .title-section-subtitle { 
        margin-bottom: 40px;
    }

    .title-section-button{
        color: var(--titleSectionPrimaryColor);
        border: solid var(--titleSectionPrimaryColor) 1px;
        padding: 15px 20px;
        background-color: transparent;
        border-radius: 5px;

    }




    button:hover {
        background-color: green;
        cursor: pointer;
        
    }
    
    


    
    
    